$tag-list-item-margin-top:      $form-text-margin-top !default; 
$tag-list-item-color:           #FFFFFF !default;
$tag-list-item-bg-color:        $gray-600;
$tag-list-item-padding-y:       .25em !default;
$tag-list-item-padding-x:       .7em !default;
$tag-list-item-border-radius:   $border-radius;
$tag-list-item-font-size:       $font-size-base * .8;